<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weapon shop<</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 .bg-secondary border-bottom shadow-sm">
    <a class="p-2 text-dark" href="/"><img src="https://www.designmantic.com/logo-images/167898.png?company=Company+Name&slogan=&verify=1" width="50" height="50" alt=""></a>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <nav class="my-2 my-md-0 me-md-3">
                    <a class="p-2 text-dark" href="/closeCombat">Close Combat</a>
                    <a class="p-2 text-dark" href="/distantCombat">Distant Battle</a>
                    <a class="p-2 text-dark" href="/about">About Us</a>
                </nav>
            </div>
            <div class="col-2">
                <a  class="p-2 text-dark" href="/weapon-add">Add Weapon</a>
            </div>
        </div>
    </div>
</header>
<div class="container py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Weapon Shop</h2>
    <div class="row g-5 py-5">
        <div class="feature col-md-4">
            <img src="https://user-images.githubusercontent.com/60435025/115579674-3594f900-a2e8-11eb-95e5-4b20436519ce.png" alt="weapon" width="210" height="64">
            <h2>Here you can find many type of weapon</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
        <div class="feature col-md-4">
            <img src="https://user-images.githubusercontent.com/60435025/115579674-3594f900-a2e8-11eb-95e5-4b20436519ce.png" alt="weapon" width="210" height="64">
            <h2>Here you can find many type of weapon</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
        <div class="feature col-md-4">
            <img src="https://user-images.githubusercontent.com/60435025/115579674-3594f900-a2e8-11eb-95e5-4b20436519ce.png" alt="weapon" width="210" height="64">
            <h2>Here you can find many type of weapon</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
    </div>
</div>
</body>
</html>